.create-post {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    text-align: center;
  }
}

.input-text {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
  resize: none;
  font-size: 16px;
}

.upload-area {
  padding: 14px;
  border: 2px dashed #ccc;
  border-radius: 12px;
  text-align: center;
}

.preview {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.publish-btn {
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.publish-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
